/* GenreList.css */

.genre-container {
    display: flex;
    list-style: none;
    padding: 0;
}

.genre-button {
    color: white;
    background-color: black;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
}

.selected-button {
    color: white;
    background-color: black;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    border-bottom: 2px solid red;
}

.genre-background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    padding: 20px;
}



.movie-container {
    display: flex;
    color: white;
    flex-wrap:wrap;
}